<%- include('partials/header') %>

    <div class="ui container" id="index">
        <div class="ui header"><h3>No Such Blog Found</h3></div>
        <img class="ui large rounded image" src="https://wallpapercave.com/wp/wp2414739.jpg" alt="404 not found">
        <div class="ui header"><h3>Click Home->Go Back</h3></div>
    </div>
<%- include('partials/footer') %>